@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import 'mixin/flex', 'mixin/reset';
*{
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("/images/bg-intro-mobile.png");
    background-color: rgba(250, 128, 114, 95%);
}
main{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1024px;
    text-align: center;
    padding: 1em 2em;
    color: #fff;
}
.Text__Container{
    margin-bottom: 1em;
    .Title{
        margin: 1em;
        font-weight: 700;
        font-size: 2em;
        line-height: 1.3em;
    }
    .Paragraph{
       font-size: .9em;
       word-spacing: 5px;
       line-height: 1.5em;
       padding: 0 11px;
    }
}

.Description__Container{
    background-color: hsl(248, 32%, 49%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    margin: 2em 1em;
    box-shadow:  0px 8px 5px 0px rgba(0,0,0,0.26);
    .Description{
        padding: 1em 4em;
        line-height: 1.7em;
        .Plan{
            font-weight: bold;
        }
    }

}

.form{
    box-shadow:  0px 8px 5px 0px rgba(0,0,0,0.26);
    background: #fff;
    padding: 1.5em;
    border-radius: 10px;
    max-width: 700px;
    min-width: 300px;
    color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1em;
    input{
        height: 40px;
        border-radius: 5px;
        border: 1px solid hsl(246, 25%, 77%);
        &::placeholder{
            color: #000;
            font-weight: 600;
            font-size: 13px;
        }
      
    }
    .btn{
        background: rgb(56, 204, 140);
        padding: 1em;
        text-transform: uppercase;
        color: #fff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        box-shadow:  0px 5px 4px 0px rgba(0,0,0,0.66);
    }
}
.btn:hover{
    background-color: rgba(56, 204, 140, 70%);
}
input.activo {
   border: 2px solid rgb(234, 96, 96);
   color: rgb(234, 96, 96);
}
input:focus{
    outline: none;
}
.Alerta_Texto.activo{
    visibility: visible;
}
.Alerta_Texto{
    color: rgb(244, 96, 96);
    font-size: 12px;
    text-align: end;  
    line-height: .01em;
    visibility: hidden;
    transition: visibility .5s ease;
}
.Alerta__Icon{
    width: 24px;
    position: absolute;
    right: 40px;
}
.Alerta__Icon_name{
    top: 35px;
    transition: all .5s ease;
}
.Alerta__Icon_last{
    top: 110px;
    transition: all .5s ease;
}
.Alerta__Icon_email{
    top: 190px;
    transition: all .5s ease;
}
.Alerta__Icon_password{
    top: 265px;
    transition: all .5s ease;
}
.form__terminos{
    font-size: 12px;
    color: hsl(246, 25%, 77%);
    .Terms_and_Services{
        color: red;
        padding-left: 3px;
        cursor: pointer;
    }
}
@media (min-width:800px){
    main{
    place-content: center;
    place-items: center;
    }
}
@media (min-width:1024px){
    main{
        grid-template-columns: repeat(2, min-max(375px,1fr));
        grid-template-rows: max-content 1fr;
        grid-template-areas: "Description Plan"
        "Description Form";
    }
    .Text__Container{
        grid-area: Description;
            .Paragraph{
               font-size: 1.03em;
               word-spacing: 5px;
               line-height: 1.5em;
               padding: 0 11px;
            }
        
    }

    .Description__Container{
        grid-area: Plan;
    }
    .form{
        grid-area: Form;
    }
}